h1 {
  color:rgb(100,0,240);
  font-size: 80px;
  font-family: georgia;
}

h2 {
  color: rgb(20, 150, 150);
}

div {
  text-align: center;
}

img {
  border: sold 50px rgb(250, 150, 150);
  border-radius: 50%;
}

body{
  background-image: url('data/splatoon_backgroundImage1.png');
  /* background-image: url('data/backgroundImage.png'); */
  /* backdrop-filter: blur(500px); */
  background-size: cover;
}