h1 {
  color:rgb(100,0,240);
  font-size: 80px;
  font-family: georgia;
}

h2 {
  color: rgb(130, 227, 88);
  font-size: 40px;

}

p{
  color:rgb(1, 31, 1);
  font-size: 30px;
}

div {
  text-align: center;
}

img {
  border: sold 50px rgb(250, 150, 150);
  border-radius: 50%;
}

header{
  background-image: url('data/splatoon_backgroundImage1.png');
  /* background-image: url('data/backgroundImage.png'); */
  /* backdrop-filter: blur(500px); */
  background-size: cover;
}

main{
  background-image: url('data/splatoon_backgroundImage2.png');
  /* background-image: url('data/backgroundImage.png'); */
  /* backdrop-filter: blur(500px); */
  background-size: cover;
  text-align: center;
  
}